button {
    cursor: pointer;
    font-family: inherit;
    font-size: rem(18px);
    background-color: $btnclr1;
    color: $clr4;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    text-transform: uppercase;

    &:hover {
        background-color: $btnclr2;
    }

    &.search-city {
        width: fit-content;
        margin-inline-start: 15px;
    }
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-transform: capitalize;
    border-radius: 4px;
}

@include for-mobile-wide-layout {
    button {
        &.search-city {
            margin-top: 10px;
        }
    }
}