.footer-container {
    width: 100%;
    background-color: $clr1;
    border-top: 3px solid $clr3;
}

.footer-subcontainer {
    width: 100%;
    height: 47px;
    justify-content: center;
    align-items: center;
}

.credit-container {
    height: 30px;
}

.social-icons-container {
    height: 30px;
    width: 10%;
    margin-inline-start: 20px;
}

.social-icon {
    &.MuiSvgIcon-root {
        height: 24px;
        width: 24px;
    }
}

.github-icon {
    &.MuiSvgIcon-root {
        height: 20px;
        width: 20px;
    }
}

.social-icon-container:not(:last-child) {
    margin-inline-end: 10px;
}

@include for-tablet-layout {
    .footer-subcontainer {
        font-size: rem(15px);
        flex-direction: column;
        height: 70px;
    }

    .credit-container {
        margin-top: 10px;
    }
}

@include for-mobile-wide-layout {
    .footer-subcontainer {
        font-size: rem(14px);
        margin-top: 5px;
    }
    .social-icons-container {
        width: unset;
    }
    .credit-container {
        text-align: center;
        margin-top: unset;
        margin-bottom: 10px;
    }
}

@include for-mobile-narrow-layout {

    .social-icons-container {
        width: unset;
    }
}